.header {
	background-color: #f6f5f5;
	width:1500px;
	height: 100px;	
	margin:0;
	padding: 0;
}

.header form {
	display: inline;
	float: right;
	margin-bottom: 0;

}


.header form input {

	font-family: HelveticaNeueCyr;
  	src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
	margin-right: 15px;
	margin-top: 30px;
	padding: 5px;
	
}

.forgot-password {
	
	border-bottom: 2px dotted;
	color: #E9A125;
	cursor: pointer;
	font-family: HelveticaNeueCyr;
	font-size: 13px;
  	src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
	position: absolute;
	margin: -32px 0 0 1097px;
	text-decoration: none;
	
}



.header .button {

	background: linear-gradient(#F3AE0F, #E38916) #E38916;
	border-color: #CC8100;
	border-width: 1px;
	border-style:  solid;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	margin-right: 150px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-top: 7px;
	padding-right: 25px;
}

.logo img {
	display: inline;
	margin-left: 200px;
}

.logo a {
	margin: 0;
	padding: 0;
}


.nav-bar ul {
	text-align: center;
	width: 1461px;
	margin-top: 0;
	border-bottom: 4px ridge;
	border-color: #afafaf;
	border-top: 4px ridge;
	position: absolute;
	padding-bottom:30px;
	padding-top:30px;
	background-color: #fff;
}

.nav-bar ul li {
	
	display: inline;
	font-weight: bold;
	font-family: Arial;
	margin:0 30px;
	
}

.nav-bar li:hover  {
	color: #E9A125;
	cursor: pointer;
}



.main {
	display:inline-block;   
    position:relative;
    
    
}

.main img{
	height: 700px;
	width:1500px;
}

.main span {
	display:inline-block;
	left:460px;
    max-width: 610px;
    position:absolute;
    top:160px;   
    
     
    /* Оформление текста */
    color:#000;
    font-weight: bold;
    font-family:Arial;
    font-size:32px;
    text-align: center; 
        
}

.left-block {
	border-style: solid;
	border-width: 5px;
	color: #fff;
	font-size: 20px;
    font-family: HelveticaNeueCyr;
  	src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    left:400px;
    list-style-type: none;
    padding:5px 30px 30px 30px;
    position:absolute;
    text-align: center;
    top:300px;     
}

.left-block li:first-child{
	font-weight: bold;
}

.left-block input {
 	background: linear-gradient(#7aceff, #24a6fe) #24a6fe;
	border-color: #425f7c;
	border-style:  solid;
	border-width: 1px;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
	font-size: 15px;
	padding: 10px 30px 10px 30px; 
}

.right-block {
	border-style: solid;
    border-width: 5px;
    color: #fff;
    display:inline-block;
    font-size: 20px;
    font-family: HelveticaNeueCyr;
  	src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    left:800px;
    list-style-type: none;
	padding:5px 27px 30px 27px;
    position:absolute;
    text-align: center;
    top:300px;   
}

.right-block li:first-child{
	font-weight: bold;
}

.right-block input {

	background: linear-gradient(#F3AE0F, #E38916) #E38916;
	border-color: #CC8100;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
	font-size: 15px;
	padding: 10px 30px 10px 30px; 
	
}

.gray-line {
	background-image:url("gray_line.png");
	display:inline-block;   
	height: 111px;
	margin: 20px 0 20px; 
	position:relative;
    width: 1500px;  
        
}  


.gray-line .first-string {
	color:#000;
	font-family: HelveticaNeueCyr;
	font-size:23px;
	margin-left: 640px;
	src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    vertical-align: -35px;
    
} 

.gray-line hr {
	
	border: 0;
	box-shadow: inset 0 12px 200px 0px #d5d4d4;
	height: 2px;
	width:10%;
	
	
	
}

.gray-line .second-string {
	border-bottom: 3px dotted; 
	color:#009c0f;
	cursor: pointer;
    font-family: HelveticaNeueCyr;
  	font-size:18px;
    margin-left: 20px;
  	src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
  	vertical-align: 10px;
   
}

.gray-line img {
	margin-left: 550px;
}

#outer {
  height: 50px;
  width: 1500px;
   
}
  
#inner {
  border-bottom: 3px solid #33aafe;
  height: 50px;
  position: relative;
  width: 1500px;
  
}
  
#inner p {
  background-color: white;
  font-family: HelveticaNeueCyr;
  font-size: 1.8em;
  left:530px;
  margin:0;
  padding: 0 40px 0 40px;
  position: absolute;
  src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
  top: 30px;  
}

 .servis-zakazchik {
 	background-image: url("krugi.png");
 	background-size:contain;
	height: 300px;
 	left:40px;
 	position: relative;
 	top:30px;
 	width: 1600px;
 	z-index: 1;
 	
 	
 }

.item-item1 {
	font-size: 14px;
    font-family: HelveticaNeueCyr;
  	left: 337px;
    list-style-type: none;
    position:relative;
    src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    text-align: center;  
    top:100px;
	width:195px;
	z-index: 2;    
	
}	

 .item-item1 ul {
	color: #fff;
	font-size: 16px;
    font-family: HelveticaNeueCyr;
    font-weight: bold;
    left:22px;
    margin-bottom: 1px;
  	padding-left: 0;
    position:relative;
    src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    text-align: center; 
    top:-45px;
    vertical-align: middle; 
	width: 155px;
	z-index: 2;  
}	

.item-item2 {
	font-size: 14px;
    font-family: HelveticaNeueCyr;
  	left: 596px;
    list-style-type: none;
    
    position:relative;
    src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    text-align: center;  
    top:-58px;
	width:225px;
	z-index: 2;    
	
}

 .item-item2 ul {
	color: #fff;
	font-size: 16px;
    font-family: HelveticaNeueCyr;
    font-weight: bold;
  
    position:relative;
    right: 17px;
    src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    text-align: center; 
    top:-18px;
    
	z-index: 2;    
}	

.item-item3 {
	font-size: 14px;
    font-family: HelveticaNeueCyr;
	left: 890px;
    list-style-type: none;
    position:relative;
    src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    text-align: center;  
    top:-220px;
    width:185px;
	z-index: 2;    
}

.item-item3 ul {
	color: #fff;
	font-size: 16px;
    font-family: HelveticaNeueCyr;
    font-weight: bold;
    position:relative;
    right: 17px;
    src: url(C:\Users\user\Desktop\test\HelveticaNeueCyr-Light.otf);
    text-align: center; 
    top:-18px;
	z-index: 2;    
}	